{% extends 'pages/en/base/master.html.twig' %}

{% block header %}
    {{ parent() }}
    <nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="text-dark" href="{{ host_name }}">
                <img src="/img/limoncello.png" alt="Limoncello PHP" title="Limoncello PHP" align="right" width="24" height="24" />
                Limoncello
            </a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
        </nav>
        {% if is_signed_in %}
            {% if can_view_users %}
                <a class="p-2 text-dark" href="{{ users_url }}">Users</a>
            {% endif %}
            {% if can_view_roles %}
                <a class="p-2 text-dark" href="{{ roles_url }}">Roles</a>
            {% endif %}
            <div class="p-2 text-dark">{{ first_name ~ ' ' ~ last_name ~ ' (' ~ role_name ~ ')' }}</div>
            <a class="btn btn-outline-primary" href="{{ sign_out_url }}">Sign out</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ sign_in_url }}">Sign in</a>
        {% endif %}
    </nav>
{% endblock %}


{% block footer %}
    {{ parent() }}
    <footer class="my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block text-muted text-right h6">
                    2016-2018
                    <a href="https://github.com/limoncello-php/framework" target="_blank" rel="nofollow">
                        <svg height="18" width="18" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    </a>
                </small>
            </div>
        </div>
    </footer>
{% endblock %}
