{% extends 'pages/en/master.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="content-boards">
        {% for board in boards %}
            <article class="content-boards_board" data-board-id="{{ board.id_board }}">
                <h1>{{ board.title }}</h1>
                <a href="/boards/{{ board.id_board }}">
                    <div><img src="{{ board.img_url }}" alt="{{ board.title }}"></div>
                </a>
                <ul>
                    {% for post in board.posts %}
                        <li>
                            <a href="/posts/{{ post.id_post }}">{{ post.title|length > 27 ? post.title|slice(0, 24) ~ '...' : post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </article>
        {% endfor %}
    </main>
{% endblock %}
