{% extends 'pages/en/master.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <main class="content-post">
        <article class="content-post_main" data-post-id="{{ post.id_post }}" data-author-id="{{ post.user.id_user }}">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.text }}</h2>
            <h3>Author: {{ post.user.first_name ~ ' ' ~ post.user.last_name }}</h3>
            <h4>Submitted at: {{ post.created_at.getValue() | date }}</h4>
        </article>

        <div class="content-post_comments">
            {% for comment in comments %}
                <article class="content-post_comments_comment" data-comment-id="{{ comment.id_comment }}"
                         data-author-id="{{ comment.user.id_user }}">
                    <h1>{{ comment.text }}</h1>
                    <h2>{{ comment.user.first_name ~ ' ' ~ comment.user.last_name }}</h2>
                    <time data-timestamp="{{ comment.created_at.getValue().getTimestamp() }}">{{ comment.created_at.getValue() | date }}</time>
                    <button>Delete</button>
                </article>
            {% endfor %}
        </div>

        <article class="content-post_new-comment">
            <div><label><textarea placeholder="Comment Text"></textarea></label></div>
            <button>Submit</button>
        </article>
    </main>
{% endblock %}
